$bg-pokedex: linear-gradient(180deg, #eb2c32 0%, #ad1217 100%);
$paragraph_color: #2f439e;

$fire_bg: linear-gradient(180deg, #FC5248 0%, #E13D34 100%);
$fire_number: #CB342B;
$fire_types: #FF6E65;

$water_bg: linear-gradient(180deg, #44A7F5 0%, #127BCD 100%);
$water_number: #2E82C5;
$water_types: #76BDF7;

$grass_bg: linear-gradient(180deg, #31C5A7 0%, #0D8B56 100%);
$grass_number: #149C81;
$grass_types: #2BCCAC;

$flying_bg: linear-gradient(180deg, #3DC7EF 0%, #26A4C9 100%);
$flying_number: #1D8CAB;
$flying_types: #47C5EA;

$normal_bg: linear-gradient(180deg, #A4ACAF 0%, #818688 100%);
$normal_number: #5E656A;
$normal_types: #A7ADB1;

$fighting_bg: linear-gradient(180deg, #D56723 0%, #A0460F 100%);
$fighting_number: #935129;
$fighting_types: #D56723;

$bug_bg: linear-gradient(180deg, #729F3F 0%, #527E1F 100%);
$bug_number: #4A7914;
$bug_types: #7BAD43;

$poison_bg: linear-gradient(180deg, #B97FC9 0%, #AA52C2 100%);
$poison_number: #A25DB5;
$poison_types: #C58CD4;

$ground_bg: linear-gradient(180deg, #C8B149 0%, #9A8111 100%);
$ground_number: #8A7619;
$ground_types: #C9B146;

$rock_bg: linear-gradient(180deg, #A38C21 0%, #6A5908 100%);
$rock_number: #76661A;
$rock_types: #A38C21;

$psychic_bg: linear-gradient(180deg, #F366B9 0%, #CB4594 100%);
$psychic_number: #C24E93;
$psychic_types: #E27EB9;

$ghost_bg: linear-gradient(180deg, #7B62A3 0%, #5E4586 100%);
$ghost_number: #593C87;
$ghost_types: #8A6DB9;

$steel_bg: linear-gradient(180deg, #9EB7B8 0%, #6F8687 100%);
$steel_number: #6E7E7E;
$steel_types: #9DB3B4;

$electric_bg: linear-gradient(180deg, #F2DC50 0%, #D6BE24 100%);
$electric_number: #BEAA24;
$electric_types: #CFB510;

$fairy_bg: linear-gradient(180deg, #FDB9E9 0%, #DC91C6 100%);
$fairy_number: #E18BC8;
$fairy_types: #FCB4E7;

$ice_bg: linear-gradient(180deg, #51C4E7 0%, #3198B7 100%);
$ice_number: #3490AC;
$ice_types: #5AC3E3;

$dragon_bg: linear-gradient(180deg, #F16E57 0%, #CD4F39 100%);
$dragon_number: #BA5341;
$dragon_types: #ED816F;

$dark_bg: linear-gradient(180deg, #707070 0%, #605757 100%);
$dark_number: #505050;
$dark_types: #888282;
